/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Vesper+Libre:wght@900&display=swap'); */

.img_section {
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}

.img_section .card_image {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.img_section:hover .card_image {
  transform: scale(0.9);
}
.btn {
  color: black;
  height: 30px;
  width: 100px;
}
.parent {
  position: relative;
}
.badge {
  position: absolute;
  top: 13px;
  right: 15px;
  height: 25px;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  text-transform: capitalize;
  border-radius: 1px;
  font-size: 12px;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 0px 4px rgb(255 255 255 / 30%);
  z-index: 1;
}
.badge {
  background: linear-gradient(to left, #00a7d5, #00ded8);
}

.icon {
  /* background: rgb(0,218,215); */
  background: linear-gradient(107deg, rgba(0, 218, 215, 1) 18%, rgba(0, 176, 213, 1) 50%);
  color: rgba(241, 230, 230, 0.918);
}

.icon-color {
  color: orange;
}
