/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Vesper+Libre:wght@900&display=swap'); */

.effect {
  transition: transform 1s linear;
  transform: scale(1);
  /* width: 400px; */
}
.effect:hover {
  /* transition: transform 1s linear; */
  transform: scale(1.09);
}

.see {
  width: 100px;
  transform: scale(1);
  height: 100px;
  background: red;
  transition: transform 2s;
}

.see:hover {
  /* width: 300px; */
  transform: scale(2);
}

.btn {
  color: black;
  font-weight: bold;
  height: 30px;
  width: 100px;
}
.parent {
  position: relative;
}
.badge {
  position: absolute;
  top: 13px;
  right: 15px;
  height: 25px;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  text-transform: capitalize;
  border-radius: 1px;
  font-size: 12px;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 0px 4px rgb(255 255 255 / 30%);
  z-index: 1;
}
.badge {
  background: linear-gradient(to left, #00a7d5, #00ded8);
}

.btn span {
  color: #242f6c;
  font-weight: bold;
}
.btn span:hover {
  font-weight: bold;
  color: rgba(241, 230, 230, 0.918);
}

.icon,
.btn:hover {
  /* background: rgb(0,218,215); */
  background: linear-gradient(
    107deg,
    rgba(0, 218, 215, 1) 18%,
    rgba(0, 176, 213, 1) 50%
  );
  color: rgba(241, 230, 230, 0.918);
  font-weight: bold;
}
