.yearly {
  background: #4ac29a; /* fallback for old browsers */
  background: linear-gradient(to left, #e0fefea9, rgba(255, 255, 255, 0.829)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -webkit-linear-gradient(to top, rgba(255, 255, 255, 0.815), #e0fefe); /* Chrome 10-25, Safari 5.1-6 */
}
