@media only screen and (min-width: 1200px){
    .number{
        padding:100px;

    }
    
}


@media only screen and (max-width: 1200px){
    /* .number{
        padding:40px;

    } */
    
}
@media only screen and (max-width: 800px){
   
    /* .alignment{
        margin :0 20% !important;;
    } */
}













@media only screen and (max-width: 460px){
   .alignment{
       margin-left:40px !important;
      
   }
   /* .respo{
       width: 220px !important;
   }
   */
    
}


/* 
@media only screen and (max-width: 300px){
   .alignment{
       margin :0 -40% !important;
   }
   .respo{
    width: 200px !important;
}

}  */
